.section {
  background-color: $section-bg;

  &:last-child {
    margin-bottom: 5rem;
  }

  &__line {
    border-top: 1px solid $section-grey-line;

    &:nth-child(3) {
      border-top: none;
    }
  }

  &__block {
    padding-left: 5px;

    &-title {
      color: $section-white;
      font-size: 1.2rem;
      font-weight: 500;
    }

    &-subtitle {
      color: $section-grey;
      font-size: 1rem;
    }
  }

  &__counter {
    align-items: flex-end;

    &-date {
      color: $section-grey;
      font-size: 1rem;
      padding-top: 3px;
    }
  }

  &-wrapper {
    background-color: $section-grey-line;
    border-radius: 10px;
    padding: 5px;

    &__input {
      color: $section-fiolet;
      font-size: 1.75rem;
      font-weight: 700;
      letter-spacing: 1px;

      padding-right: 3px;

      background-color: $section-bg-2;
      outline: none;
      border: none;
      width: 75px;
      border-radius: 10px;

      text-align: end;

      @media (min-width: 375px) {
        width: 85px;
      }

      @media (min-width: 410px) {
        width: 95px;
      }
    }

    &__meter {
      color: $section-fiolet;
      font-size: 1.25rem;
      padding-left: 3px;

      align-self: end;
    }
  }
}
