$account-bg: rgba(25, 24, 41, 1);
$account-burgundy: rgba(222, 103, 106, 1);
$account-fiolet: rgba(57, 49, 133, 1);
$account-white: rgba(253, 253, 253, 1);
$account-milk: rgba(236, 234, 255, 1);
$account-grey: rgba(150, 150, 161, 1);

$section-bg: rgba(46, 45, 65, 1);
$section-bg-2: rgba(56, 55, 74, 1);
$section-white: rgba(236, 236, 236, 1);
$section-fiolet: rgba(166, 157, 245, 0.5);
$section-burgundy: rgba(222, 103, 106, 1);
$section-green: rgba(123, 220, 168, 1);
$section-grey: rgba(150, 150, 161, 1);
$section-grey-line: rgba(62, 62, 86, 1);
$section-bg-btn: rgba(114, 110, 155, 1);
$section-bg-text: rgba(49, 42, 110, 1);
