@font-face {
  font-family: SFUIDisplay;
  font-weight: 400;
  src: local("SFUIDisplay"), local("SFUIDisplay-Regular"),
    url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: SFUIDisplay;
  font-weight: 600;
  src: local("SFUIDisplay"), local("SFUIDisplay-Medium"),
    url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: SFUIDisplay;
  font-weight: 700;
  src: local("SFUIDisplay"), local("SFUIDisplay-Semibold"),
    url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
  font-display: swap;
}
