@import "./constants.scss";
@import "./fonts.scss";
@import "./reset.scss";
@import "./../components/App/App.scss";
@import "./../components/App/components/Indicator/Indicator.scss";
@import "./../components/App/components/Title/Title.scss";
@import "./../components/App/components/Button/Button.scss";

html,
body {
  font-size: 16px;
  font-family: "SFUIDisplay", sans-serif;
}
