.wrapper {
  background-color: $account-bg;
  height: 100%;
  width: 100%;
  padding-bottom: 130px;

  position: relative;

  &__title {
    color: $account-white;
    font-size: 1.25rem;
    font-weight: 600;
  }
}
