.position {
  position: fixed;
  bottom: 0px;
  background-color: $account-bg;
  width: 100%;

  &__button {
    background-color: $section-bg-btn;
    margin: 20px 0;
    border-radius: 10px;

    z-index: 1;

    &:hover {
      opacity: 1;
    }

    &-text {
      min-height: 65px;
      min-width: 300px;
      max-width: 900px;
      width: 100%;

      padding: 0 20px;
      margin: 0 auto;

      font-size: calc(14px + 1vw);
      color: $section-bg-text;
      font-weight: 600;

      &:hover {
        opacity: 1;
      }
    }
  }
}
